@page
@model SlavVVar.RzemieslnikModel

@{
    ViewData["Title"] = "SlavVVar";
}
<b>
    <h1>Rzemieslnik</h1>
    <h3>Poziom: @Model.PoziomyBudynkow.Budynek2</h3>
</b>

<table>
    <tr><th>Budynek</th><th>Poziom</th><th>Wymagane surowce</th><th>Ulepsz</th></tr>
    <tr><td>Ratusz</td><td>@Model.PoziomyBudynkow.Budynek0</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Koszary</td><td>@Model.PoziomyBudynkow.Budynek1</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Rzemieślnik</td><td>@Model.PoziomyBudynkow.Budynek2</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Pola uprawne</td><td>@Model.PoziomyBudynkow.Budynek3</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Karczma</td><td>@Model.PoziomyBudynkow.Budynek4</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Magazyn</td><td>@Model.PoziomyBudynkow.Budynek5</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Tartak</td><td>@Model.PoziomyBudynkow.Budynek6</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Huta</td><td>@Model.PoziomyBudynkow.Budynek7</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Gliniarnia</td><td>@Model.PoziomyBudynkow.Budynek8</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
    <tr><td>Budynki obronne</td><td>@Model.PoziomyBudynkow.Budynek9</td><td>20/20/20</td><td><a href="#">Ulepsz</a></td></tr>
</table>
